
    <figure class = "container-fluid">
      <blockquote class="blockquote">
        <p>Your source of truth for all things chickpeas!</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Karina Finn, Founder in <cite title="Source Title">USA TODAY 2024</cite>
      </figcaption>
    </figure>

<div class="container-fluid">
    <div class="row my-4">
        <div class="col-sm-4 text-center">
            <img src=https://cdn11.bigcommerce.com/s-a9b4a/images/stencil/1280x1280/products/657/7749/Organic-Garbanzo-Bean__08383.1673301548.jpg?c=2 class="img-fluid"  width="300" height="200">
            <h1>History</h1>
            <p>Chickpeas appear in recordings as early as 3500 BCE, thought to have orignated in present-day Turkey and Syria.
            Today, chickpeas are cultivated in more than 50 countries with India as the top producer.
            <a href=https://www.hsph.harvard.edu/nutritionsource/food-features/chickpeas-garbanzo-beans/#:~:text=Chickpeas%20appear%20in%20early%20recordings,nutritious%20staple%20of%20many%20diets.>Learn more.</a></p>
          </div>
        <div class="col-sm-4 text-center" >
          <img src=https://simpleandsavory.com/wp-content/uploads/2022/12/CHickpeas-heart.jpg class="img-fluid" width="300" height="200">
          <h1>Health Benefits</h1>
          <p> A strong source of protein, fiber, and iron, chickpeas help manage cholestrol, blood sugar, and blood pressure.
          They also support gut health for all our IBS friends out there!
          <a href=https://www.health.com/nutrition/are-chickpeas-healthy#:~:text=Chickpeas%20are%20high%20in%20fiber,weight%3B%20and%20support%20gut%20health.>Read more.</a><p>
          </div>
          <div class="col-sm-4 text-center">
            <img src=https://assets.bonappetit.com/photos/613b50b25ab6dceb2a1004d4/1:1/w_1033,h_1033,c_limit/Garlicky%20Smashed%20Chickpeas%20with%20Corn.jpg class="img-fluid" width="300" height="200">
            <h1>Easy Recipes</h1>
            <p>Who doesn't love a healthy and quick meal? I personally eat chickpeas straight out of the can (yes, I drain the water first).
            From soup to falafel to pasta salad, check out 
            <a href=https://www.loveandlemons.com/chickpea-recipes/>31 Easy Chickpea Recipes.</a><p>
          </div>

    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Feedback?</h5>
        <p class="card-text">Send us an email with your comments - we'd love to hear from you!</p>
        <a href="mailto:karina.finn@kellogg.northwestern.edu" class="btn btn-primary">Send email</a>
    </div>

</div>
  </div>